*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    columns: #252525;
    font-family: 'Montserrat';

}
/* .main {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
} */
body {
    width: 100 vw;
    height: 100 vh;
}
 /* nav setion css  */
.header {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
 .point {
    width: 3vh;
    height: 3vh;
    border-radius: 50%;
    background-color: aqua;
}
.name > a {
    height: 5vh;
    display: flex;
    justify-content: center;
    text-decoration: none;
    font-family: 'Montserrat';
    color: #252525;
  
  }
.left {
    margin-left: 3vw;
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
    gap: 1vh;
    flex-wrap: wrap;
 }

 .right {
    margin-right: 3vw;
    margin-top: 3vh;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
 }
 .work {
    height: 5vh;
    display: flex;
    justify-content: center;
    font-family: 'Montserrat';
    align-items: center;
    color: #252525;
    font-size: 2vh;
    flex-wrap: wrap;

}
.manu {
    width: 6vw;
    height: 4vh;
    font-size: 2vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}
.manu > a {
    text-decoration: none;
    color: #252525;
    font-family: 'Montserrat';
    font-size: 1.2rem;

}
.manu > a:hover {
    color: #2A9192;
}
.personal {
 
    border-left: 2px solid black;
   }
   .contact {
       border-left: 2px solid black;
   
   }
   .resume {
       border-left: 2px solid black;
   
   }
   

/* hero section css */
.hero {
    height: 70vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}
     /* hero left */
     .image > img {
        width: 450px;
        height: 450px;
        border-radius: 50%;
    }
    .info {
        height: 350px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    .info > p {
        font-size: 18px;
        font-family: cursive;
    }
    .info > h4 {
        font-size: 20px;
        font-family: 'Montserrat';
    
    }

    /* hero right */

.heroRight {
    display: flex;
    flex-direction: column;
}
.link {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 2vh;
    flex-wrap: wrap;

}
.middiv {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 1px solid #252525;
    display: flex;
    justify-content: center;
    align-items: center;
}   
.div1 {
    background-color: #bada55;
}
.div2 {
    background-color: #EEA508;
}
.div3 {
    background-color: #A4E0E2;
}
.div4 {
    background-color: #C7C7C7;
}
.link > a:hover {
    background-color: #FFFFFF;
}
.link > a {
    text-decoration: none;
    color: #252525;
    font-size: 2vh;
    font-family: 'Montserrat';
    font-weight: bolder;

}

/* footer section css */
hr {
    margin-left: 4vw;
    margin-right: 4vw;
}
.footer {
    height: 15vh;
    width: 100vw;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.foot {
    display: flex;
    flex-direction: column;
    align-items: center;
    flex-wrap: wrap;
}
.foot > a {
    text-decoration: none;
    color: #252525;
}
.foot > a:hover {
    color: #2A9192;
}
.foot > p {
   font-weight: bolder; 
   font-size: 20px;
}

@media screen and (max-width: 768px) {
    .right {
        display: none;
    }
    .image > img {
        width: 300px;
        height: 300px;
        border-radius: 50%;
    }
    .header {
        height: 15vh;
        width: 100vw;
        display: flex;
        justify-content: space-between;
        flex-wrap:wrap;
    }
    
    .hero {
        height: 800px;
        width: 360px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        margin-left: 5px;
    }
    .footer {
        height: 15vh;
        width: 100vw;
        display: flex;
        justify-content: space-around;
        align-items: center;
        flex-wrap: wrap;
    }
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .info {
        height: 250px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}